.navbar-last-minute {
  @apply container relative mx-auto bg-[#ECECEC] h-[35px] flex items-center  pl-2  mt-3  sm:rounded-t-lg  overflow-hidden;
  &--icon {
  }
  &__text-list {
    &--text {
      white-space: nowrap; /* alt satıra inme */
      overflow: hidden; /* taşan kısımları gizle */
      text-overflow: ellipsis;
      @apply text-black font-semibold;
    }
  }
  &__text-list::before {
    content: '';
    width: 20px;
    height: 24px;
    position: absolute;
    background: linear-gradient(
      90deg,
      #ececec 21.87%,
      rgba(236, 236, 236, 0) 100%
    );
  }
}
