.navbar-categories {
  @apply container flex justify-between mx-auto mt-4  pr-2 lg:px-0;
  &__list {
    @apply flex sm:gap-3 gap-1;
    &--acitive {
      @apply flex items-center sm:gap-3 gap-1;
      background: linear-gradient(158deg, #484848 14.59%, #000 65.76%);
      box-shadow: 1px 1px 0px 4px rgba(13, 0, 13, 0.1);
    }
    &--responsive-hidden {
      @apply lg:flex hidden;
    }
    a {
      @apply px-[14px] py-1  rounded text-white font-bold;
    }

    a:hover {
      @apply bg-[#0000002e];
    }
  }
  &__live {
    &__button {
      background: linear-gradient(158deg, #2433CA14.59%, #0c1999 65.76%);
      @apply bg-[#2433CA] text-white font-bold px-4 py-1  rounded items-center;

      &--destop {
        @apply lg:inline-flex hidden;
      }
      &--mobil {
        @apply lg:hidden inline-flex;
      }
    }
  }
}
