.bottom-subcategories {
  margin-top: -30px;
  z-index: 99999;

  @apply w-[80%] md:container  mx-auto bg-white rounded  p-4;
  &__list {
    @apply flex gap-3 overflow-x-scroll md:overflow-hidden;
    &__item {
      flex-shrink: 0;
      @apply relative rounded md:w-[160px] h-[100px] w-[104px] basis-[106] md:basis-[160px];
      &--image {
        @apply w-full h-full;
      }
      &--text {
        @apply absolute bottom-0  mb-[30%]  md:mb-[25%] ml-[30%] bg-black  rounded text-white px-2;
      }
    }
  }
}
