.slider-main-card {
  &__header {
    &--image {
      @apply w-full h-[211px]  md:h-[343px] z-20;
    }
    &--slogan {
      margin-top: -15px !important;
      position: relative;
      z-index: 99;
      span {
        @apply bg-[#CD0002] px-2 py-1 text-white font-bold ml-5 rounded z-30;
      }
    }
    &--slogan::after {
      content: '';

      width: calc(100% - 20px);
      left: 20px;
      z-index: -1;
      position: absolute;
      background-color: #cd0002;
      height: 3px;
      bottom: 0;
      margin-bottom: 8px;
      border-top: 5px solid #cd0002;
    }
  }
  &--title {
    @apply text-[30px] md:text-[38px] md:leading-[38px]  leading-[30px]  font-extrabold ml-4 mt-1;
  }
  &__des {
    @apply pl-2 mt-2;
    &--text {
      @apply font-bold text-[16px] md:text-[22px];
      box-shadow: inset 200px 186px 300px 200px rgba(230, 230, 230, 1);
    }
  }
}
